<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<link href="http://labcollaborate.heroku.com/stylesheets/css.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1><a href="http://www.labcollaborate.com/"><img src="http://labcollaborate.heroku.com/images/logo-email.png" alt="Lab Collaborate"></a></h1>
    <p>
      Dear <%= @user.name %>,
    </p>
    <p>
      <%= @laboratory.name %> wants to be friends with you on <%= link_to "Lab Collaborate", root_url %>.
    </p>

		<p>To connect with this lab, <%= link_to "log in", root_url %> and approve this pending collaborator.</p>
		
		<p>Have fun!<br />
			The Lab Collaborate Team</p>

  </body>
</html>

