<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<link href="http://labcollaborate.heroku.com/stylesheets/css.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1><a href="http://www.labcollaborate.com/"><img src="http://labcollaborate.heroku.com/images/logo-email.png" alt="Lab Collaborate"></a></h1>
    <p>
      Dear <%= @user.name %>,
    </p>
    <p>
      Your lab is now friends with <%= link_to @laboratory.name, laboratory_url(@laboratory) %>.
    </p>

		<p><%= link_to "log in", root_url %> to view their lab page, post on their whiteboard and share files!</p>
		
		<p>Have fun!<br />
			The Lab Collaborate Team</p>

  </body>
</html>

