<%= render :partial => 'anotherlabsidenav' %>

<div class="fl">

	<%= render :partial => 'users' %>

</div>

<p class="ts bs fr" id="signed_out_info">
	<h2 class="fl">Research Interests of <%= @laboratory.name %></h2>
	<%= @laboratory.info %>
</p>