<%= render :partial => 'anotherlabsidenav' %>

<div class="fl">

	<%= render :partial => 'users' %>

</div>

<h2>Research Interests of <%= @laboratory.name %></h2>

<p class="ts bs fr" id="signed_out_info">
	<%= @laboratory.info %>
</p>