<% form_for @laboratory, :remote => true do |f| %>

	<p>
		<%= f.label :update_research_interests %><br />
		<%= f.text_area :info, :style => "width:180px; height:60px" %>
	</p>

	<p><%= f.submit "Update" %></p>

<% end %>
