body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin: 0; padding: 0; }
ol, ul { list-style: none; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
html,body { height:100%; }

body {
	background: #2E2E2E;
	color: #959593;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 14px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.fl { float: left; }
.fr { float: right; }
.ts { margin-top: 25px; }
.bs { margin-bottom: 25px; }
.ls { margin-left: 25px; }
.rs { margin-right: 25px; }

a {
	color:#F9F9F6;
	text-decoration:none;
}

a:hover {
	text-decoration: underline;
	color: #eec0e2;
}

a:visited {
	
}

h1 { }
h2 { }
h3 { }
h4 { }
h5 { font-size:16px; }
h6 { }

div#flash_notice {
	padding: 15px 0;
	text-align:center;
	background: #d5ebeb;
	margin-bottom: 25px;
}

div#flash_error {
	padding: 15px 0;
	text-align:center;
	background: #eec0e2;
}

div#container {
	width:910px;
	margin:0 auto;
	background: #fff;
	padding: 25px;
}

div#container a { color: #2E2E2E; }
div#container a:hover { text-decoration: underline; }

header { 
	width:960px;
	margin: 0 auto;
}

header nav { text-align: right; margin-top: 40px; float:right;}
header nav ul { font-size: 12px; }
header nav ul li { display: inline; margin-right:10px;}

header h1 {
	background: url(../images/logo.png) no-repeat;
	height:38px;
	width: 300px;
	text-indent: -99999px;
	margin: 25px 0;
	float:left;
}

header h1 a { display: block; width: 300px; height: 38px;}

.ui-autocomplete { 
	margin:-26px 215px 0 auto;
	position:relative;
	width:960px !important;	
}

.ui-autocomplete li { 
	background:grey;
	padding:6px 0 6px 5px;
	width:285px;
	border-top:1px solid white;
}
.ui-autocomplete li:hover { cursor:pointer; }

.ordered { background-color: yellow; }

ul#users { width: 685px; }

ul#users li { float: left; margin:0 15px 50px 0; text-align:center; width:40px; height: 40px;}

ul#users li .name { display: none;}
ul#users li img:hover { outline: 1px solid #6881C9;}
ul#users li:hover span { display: inline !important;}

nav#laboratory {
	margin-top: 25px;
}

.sidenav {
	width:200px;
	margin-right: 25px;
}

ul.whiteboard {
	width: 600px;
}

ul.whiteboard li { 
	margin-bottom:15px;
	padding: 10px;
	float: left;
	background: #eee; 
}

.whiteboard-post { margin-left: 5px; width: 440px;}

nav#laboratory ul li {
	color:#fff;
	background: #6881C9;
	margin-bottom:1px;
}

nav#laboratory ul li a {
	color:#6881C9;
	background:#fff;
	display:block;
}

nav#laboratory ul li a:hover {
	color:#fff;
	background: #6881C9;
	text-decoration: none;
}
p#info {
	max-height:300px;
	overflow-y: auto;
	overflow-x: visible;
}

strong { font-weight:bold;}

input { 
	padding: 3px;
	margin-bottom: 10px;
}

ul#members li { margin-top: 15px; }
ul#members li img { float: left; }
ul#members li h3 { float: left; margin: 35px 0 0 5px;}

footer {width:960px; margin: 15px auto;}

form.search {
	width: 200px;
	display: inline;
}

ul#library-nav li {
	display:inline;
	font-size: 14px;
	font-weight: bold;
}

ul#library { margin-top: -15px;}

ul#library li, ul#activity_stream li, ul#feed li {
	background: #ebebeb;
	margin-top: 15px;
	padding: 10px;
	width: 665px;
}
ul#library li em {
	font-weight:bold;
	font-size: 18px;
}

#signed_out_info {
	width: 685px;
}

span#activity_string {
	float: left;
	margin: 18px 0 0 10px;
}

.nested_messages {
  margin-left: 30px;
}

.nested_messages .nested_messages .nested_messages .nested_messages {
  margin-left: 0;
}

p#caption {
	max-width: 640px;
}

ul#feed li a:hover {
	text-decoration: none;
}

ul#feed li img {
	max-width: 665px;
	float: left;
	margin: 0 10px 10px 0;
}

ul#feed li p { float: left; }

ul#feed li p:after { clear: both; }

ul#feed li:hover {
	background: #ccc;
}

.sidebar {
	max-width: 220px;
}

nav.pagination {
	margin: 50px 0 15px 225px;
}