<% title "Please Choose Your University" %>

<h2 class="bs">What university / organization are you affiliated with?</h2>

<ul class="bs">
	<% @schools.each do |school| %>
		<li>
			<h3><%= link_to school.name, edit_school_path(school) %></h3>
		</li>
	<% end %>
</ul>

<h2 class="bs">Is your school not listed? Add it!</h2>

<% form_for @school do |f| %>
	<p>
		<%= f.label :school_name %><br />
		<%= f.text_field :name %>
	</p>
	
	<p><%= f.submit %></p>
<% end %>
