<% title "Feeds" %>

<%= render :partial => 'nav' %>

<% unless @entries.nil? || @entries == [] %>
	<ul id="feed" class="fr">
		<%= render :partial => "feeds", :collection => @entries, :as => :entry %>
	</ul>
<% else %>
	<h2 class="fl" style="margin:50px 0 0 50px;">You haven't followed any feeds yet! <br />Choose some from the menu on the left to follow!</h2>
<% end %>

<div class="clear"></div>

<%= paginate @entries %>